@define-mixin atSmall {
  @media (min-width: 350px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin atLarger {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

@define-mixin atXlarge {
  @media (min-width: 1440px) {
    @mixin-content;
  }
}
