html {
  font-size: 12px;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  line-height: 1.25;
}

h4 {
  font-family: $font-primary;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

em {
  color: currentColor;
}
