.countdown{font-family:Sedgwick Ave Display,cursive;width:100vw;height:100vh;display:flex;justify-content:center;align-items:center;background-color:#3c3b3c;color:hsla(0,0%,100%,.85);letter-spacing:2px;font-size:5em}
