.card {
  &__container {
    padding-bottom: 4em;
  }

  &__item {
    border-radius: 2px;
    border: 2px solid #ccc;
    padding: 0.5em 1em;
    word-break: break-word;
  }

  &__position {
    font-size: 0.75em;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    letter-spacing: 1px;
    position: relative;

    span {
      font-size: 2em;
      text-transform: uppercase;
      display: inline-block;
      transform: translate(4px, -2px);
    }
  }

  &__points {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3em;
    text-align: center;
    width: 1em;
    height: 1em;
    color: #ffff48;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    padding: 0.15em;
    border: 1px solid #aaa;

    span {
      font-size: 0.2em;
      display: inline-block;
      transform: translateY(-8px);
    }
  }

  &__name {
    margin: 0;
    font-style: italic;
  }

  &__subtext {
    font-size: 0.75em;
    line-height: 1.25;
  }
}
