.countdown {
  font-family: $font-secondary;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3b3c;
  color: rgba(#fff, 0.7);
  letter-spacing: 2px;
  position: relative;
  font-size: 5em;
  background-blend-mode: color-burn;
  background-position: center;
  background-size: cover;
  text-align: center;
}
