.countdown {
  font-family: 'Sedgwick Ave Display', cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3b3c;
  color: rgba(#fff, 0.7);
  letter-spacing: 2px;
  position: relative;
  font-size: 5em;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
