.frames {
  font-size: 10px;

  @mixin atMedium {
    font-size: 14px;
  }

  @mixin atLarge {
    font-size: 19px;
  }

  @mixin atLarger {
    font-size: 11.25px;
  }

  @mixin atXlarge {
    font-size: 14px;
  }

  &__item {
    margin-top: 2em;
  }

  &__bg-img {
    background-size: cover;
    background-position: center;
    height: 23em;
    position: relative;
  }

  &__date {
    text-transform: uppercase;
    font-weight: 700;
    transform: translate(0.5em, -0.25em);
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    > a {
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      width: 70%;
      z-index: -1;
      top: 0.5em;
      left: 17.5%;
    }
  }

  &__question {
    width: 40% !important;
    left: 30% !important;
    top: 2em !important;
  }

  &__coordinates {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(#222, 0.85);
    line-height: 1.25;
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;

    span {
      text-transform: none;
      font-style: italic;
      font-size: 1.25em;
    }
  }

  &__items {
    padding: 0 0.75em;
  }

  &__credit {
    position: absolute;
    bottom: 30%;
    font-style: italic;
    left: 2em;

    > span {
      font-style: normal;
      font-weight: 700;
    }
  }

  &__img-comment {
    position: absolute;
    bottom: 3em;
    left: 2em;
    opacity: 0.85;
    font-size: 1.2em;
    background-color: #fff;
    border: 1px solid;
    padding: 0.125em 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
