.front-page {
  font-size: 10px;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 2em;

  @mixin atMedium {
    font-size: 14px;
  }

  @mixin atLarge {
    font-size: 16px;
  }

  @mixin atLarger {
    font-size: 17px;
  }

  &__logo {
    display: flex;
    text-align: center;
    align-items: center;

    @mixin atMedium {
      position: absolute;
      left: 5%;
      top: 3.5em;
      z-index: 1;
    }

    @mixin atLarge {
      left: 10.5%;
    }

    img {
      width: 10em;
    }
  }

  &__game {
    transform: rotate(-7.5deg) translate(-0.5em, -1.25em);
    line-height: 0.8;
    text-transform: uppercase;
    font-size: 1.25em;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 1px;
      background-color: #222;
      width: 60%;
      position: absolute;
      left: 20%;
    }

    &::before {
      top: -1px;
    }

    &::after {
      width: 100%;
      height: 1px;
      bottom: -1px;
      left: 0;
    }

    > span {
      font-size: 1.35em;
      font-weight: 700;
    }
  }

  &__image {
    padding-top: 8em;

    @mixin atMedium {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      > img {
        width: 100%;
      }
    }

    @mixin atLarge {
      padding-top: 6em;

      > img {
        width: 90%;
      }
    }

    @mixin atLarger {
      padding-top: 2em;
    }
  }

  &__verras {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;

    @mixin atMedium {
      position: absolute;
      top: 100%;
      right: 50%;
    }

    @mixin atLarge {
      transform: rotate(90deg);
      right: -11em;
      top: 20em;
    }

    @mixin atLarger {
      top: 22.5em;
    }
  }

  &__start {
    font-family: $font-secondary;
    font-size: 2.75em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    width: 5em;
    height: 5em;
    transition: transform 0.4s;
    transform: rotate(-5deg);

    &:hover {
      text-decoration: none;
      transform: scale(1.05) rotate(-5deg);
    }

    @mixin atLarge {
      transform: rotate(-5deg) translate(0, -1em);
    }

    @mixin atLarger {
      transform: rotate(-5deg) translate(1em, -1.5em);
    }

    @mixin atXlarge {
      transform: rotate(-5deg) translate(2em, -2em);
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  font-size: 10px;

  @mixin atMedium {
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @mixin atLarge {
    font-size: 16px;
  }

  &__text {
    padding: 2em 0;

    @mixin atMedium {
      width: 60%;
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    font-family: $font-secondary;

    @mixin atMedium {
      padding-right: 4em;
    }
  }

  &__button {
    font-size: 1.5em;
    width: 7em;
    height: 7em;
    background-color: rgba(#222, 0.15);
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(-5deg);

    a {
      color: currentColor;
      display: inline-block;
      padding: 1.5em;
      transition: transform 0.3s;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
      }
    }
  }
}
