.front-page {
  font-size: 10px;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 2em;
  background-color: #f7f7f7;
  position: relative;

  @mixin atMedium {
    font-size: 14px;
  }

  @mixin atLarge {
    font-size: 16px;
  }

  @mixin atLarger {
    font-size: 17px;
  }

  &__image {
    padding-top: 8em;

    @mixin atMedium {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      > img {
        width: 100%;
      }
    }

    @mixin atLarge {
      padding-top: 0;

      > img {
        width: 90%;
      }
    }
  }

  &__stip {
    top: 0;
    width: 4em;
    position: absolute;
    border-radius: 50%;
    opacity: 0.85;
  }

  &__start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    transition: transform 0.4s;
    transform: rotate(-5deg);

    &:hover {
      text-decoration: none;
      transform: scale(1.05) rotate(-5deg);
    }

    @mixin atLarge {
      transform: rotate(-5deg) translate(1em, -3em);

      &:hover {
        transform: scale(1.05) rotate(-5deg) translate(0.9em, -2.9em);
      }
    }

    @mixin atLarger {
      transform: rotate(-5deg) translate(2em, -4em);

      &:hover {
        transform: scale(1.05) rotate(-5deg) translate(1.95em, -3.9em);
      }
    }

    @mixin atXlarge {
      transform: rotate(-5deg) translate(3em, -5em);

      &:hover {
        transform: scale(1.05) rotate(-5deg) translate(2.9em, -4.9em);
      }
    }

    > img {
      width: 50%;

      @mixin atMedium {
        width: 85%;
      }
    }
  }
}

.start-page {
  min-height: 100vh;
}

.page {
  position: relative;
}

.home {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  font-size: 14px;
  background-color: rgba(#fff, 0);

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(#fff, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  @mixin atMedium {
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @mixin atLarge {
    font-size: 20px;
  }

  &__text {
    padding: 2em 0;
    margin: 4em 1em 0 0.75em;

    @mixin atMedium {
      width: 60%;
      padding: 0;
      margin: 4em 0;
    }
  }

  &__text-inner {
    padding: 2em 1em;
    background-color: rgba(#f7f7f7, 0.85);
    border: 1px solid #ccc;
    border-radius: 1px;

    @mixin atMedium {
      padding: 2em 4em 3em 2em;
    }
  }

  &__buttons {
    font-size: 9px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    font-family: $font-secondary;

    @mixin atMedium {
      font-size: 12px;
    }

    @mixin atLarge {
      padding-right: 2em;
      font-size: 16px;
    }
  }

  &__button {
    font-size: 2em;
    width: 5em;
    height: 5em;
    filter: drop-shadow(0 1px #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(-5deg);
    z-index: 3;

    a {
      color: currentColor;
      display: inline-block;
      padding: 0.5em;
      text-decoration: none;
      transition: transform 0.3s;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
      }
    }
  }
}
