.front-page {
  padding-top: 2em;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;

  &__start {
    position: absolute;
    font-family: $font-secondary;
    font-size: 2.75em;
    bottom: 3em;
    right: 1.5em;
    width: 2.75em;
    height: 2.75em;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s;
    transform: rotate(-5deg);

    &:hover {
      text-decoration: none;
      transform: rotate(-7.5deg) scale(1.05);
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  font-size: 13px;

  @mixin atMedium {
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @mixin atLarge {
    font-size: 16px;
  }

  &__text {
    padding: 2em 0;

    @mixin atMedium {
      width: 60%;
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    font-family: $font-secondary;
    padding-right: 4em;
  }

  &__button {
    font-size: 1.5em;
    width: 7em;
    height: 7em;
    background-color: rgba(#222, 0.15);
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(-5deg);

    a {
      color: currentColor;
      display: inline-block;
      padding: 1.5em;
      transition: transform 0.3s;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
      }
    }
  }
}
