.jury {
  &__item {
  }

  &__header {
    font-size: 1.1em;
    text-transform: none;
  }

  &__photo {
    margin: 0;
    border: 1px solid #ccc;
  }

  &__caption {
    font-size: 0.75em;
    padding: 4px;
    color: #777;
  }
}
