.page {
  position: relative;
  height: 100%;
  font-size: 12px;

  &__content {
    margin-top: 10em;
  }

  &__title {
    word-spacing: 0.125em;
    text-align: center;
    line-height: 1;
    font-size: 2.25em;

    @mixin atMedium {
      padding-top: 0;
    }
  }

  &__subtitle {
    padding-top: 0;
    text-align: center;
    line-height: 0;
    position: relative;
    font-size: 1.5em;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 1.5em;
      background-color: #222;
    }

    &::before {
      left: 1em;

      @mixin atMedium {
        left: 25%;
      }

      @mixin atLarger {
        left: 40%;
      }
    }

    &::after {
      right: 1em;

      @mixin atMedium {
        right: 25%;
      }

      @mixin atLarger {
        right: 40%;
      }
    }
  }

  &__uitleg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
