.page {
  height: 100%;
  font-size: 12px;

  @mixin atMedium {
    font-size: 14px;
  }

  @mixin atLarge {
    font-size: 16px;
  }

  @mixin atLarger {
    font-size: 18px;
  }

  &__content {
    margin-top: 10em;
    position: relative;
  }

  &__title {
    word-spacing: 0.125em;
    text-align: center;
    line-height: 1;
    font-size: 2.25em;

    @mixin atMedium {
      padding-top: 0;
    }
  }

  &__subtitle {
    padding-top: 0;
    text-align: center;
    line-height: 0;
    position: relative;
    font-size: 1.5em;

    > span::before,
    > span::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 1.5em;
      background-color: #222;
    }

    > span::before {
      display: inline-block;
      margin-left: -2em;
    }

    > span::after {
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  &__uitleg {
    position: absolute;
    right: 0;
    bottom: -12em;
    z-index: 1;
    transform: rotate(-5deg);

    @mixin atLarger {
      right: 10%;
    }
  }
}
