.ranking {
  &__container {
    background-color: #f7f7f7;
    padding: 0.5em;
    border-radius: 1px;
  }

  &__item {
    padding: 0.5em;
    position: relative;

    &:not(:last-of-type)::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #ccc;
      width: 50%;
      bottom: 0.25em;
      left: 0;
    }
  }

  &__number {
    font-size: 1.2em;
  }

  &__name {
    font-size: 0.75em;
    font-weight: 700;
  }

  &__points {
    font-size: 1.5em;

    &::after {
      font-size: 0.75em;
      content: '~';
    }

    &::before {
      font-size: 0.75em;
      content: '~';
    }
  }

  &__text {
    font-size: 0.875em;
    margin: 0;
    padding: 0.25em 0;
    line-height: 1.1;
  }

  &__list-nr {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.875em;
  }
}
