.score {
  overflow: hidden;
  font-size: 14px;
  z-index: 3;
  margin: 0 0.75em 1em 1em;

  @mixin atMedium {
    width: 33%;
    margin: 12em 0 0 0;
  }

  &__container {
    padding: 1em 2em;
    font-size: 1.25em;
    scrollbar-width: thin;
    scrollbar-color: #90a4ae #cfd8dc;

    background: rgba(#f7f7f7, 0.85);
    overflow-y: auto;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    max-height: 22.5em;

    &::-webkit-scrollbar {
      width: 11px;
    }

    &::-webkit-scrollbar-track {
      background: #cfd8dc;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #90a4ae;
      border-radius: 6px;
      border: 3px solid #cfd8dc;
    }
  }

  &__title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__list {
    li {
      position: relative;
      margin: 0.5em 0;

      &:not(:last-of-type)::after {
        content: '';
        background-color: #ccc;
        height: 1px;
        width: 25%;
        position: absolute;
        left: -1em;
        bottom: -0.25em;
      }

      &:last-of-type {
        padding-bottom: 2em;
      }
    }
  }
}
