.subtitle {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: -6px;

  @mixin atMedium {
    top: -2em;
    // right: 50%;
    font-size: 1.2rem;
  }

  @mixin atLarge {
    transform: rotate(90deg);
    right: -15rem;
    top: 21rem;
  }

  @mixin atLarger {
    right: -12rem;
    top: 23.5rem;
  }
}
