.uitleg {
  &__button {
    > img {
      width: 12em;
    }
  }

  &__overlay {
    padding: 3em 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-top: 12em;
    align-items: center;

    &--active {
      opacity: 1;
      z-index: 19;
    }
  }

  &__top {
    width: 100%;
  }

  &__close {
    svg {
      width: 3em;
    }
  }
}
